.wrap {
  position: relative;
}
#banner img {
  width: 26.666666666667em;
}
#tabbox {
  height: 2.9166666666667em;
  width: 100%;
  background: #e31836;
  overflow: hidden;
}
#tabbox ul li {
  float: left;
  line-height: 2.9166666666667em;
  margin-top: 0.29166666666667em;
  margin-left: 0.41666666666667em;
}
#tabbox ul li a {
  display: block;
  color: #fff;
  height: 2.7083333333333em;
  width: 12.5em;
  text-align: center;
}
#tabbox ul li a.active {
  color: #e31836;
  background: #fff;
  border-radius: 5px 5px 0 0;
}
#tabcon img {
  width: 100%;
}
#tc-img {
  margin-top: 1.0416666666667em;
  padding: 0 2.5em;
}
#tc-img2 {
  margin-top: 1.0416666666667em;
}
#hint {
  height: 3.4166666666667em;
  border: 1px dashed #e31836;
  border-left: none;
  border-right: none;
  margin: 1.1666666666667em 0.41666666666667em 0 0.41666666666667em;
}
#hint #hint-img {
  width: 7.1666666666667em;
  height: 2.25em;
  margin-top: 0.58333333333333em;
  float: left;
}
#hint p {
  margin-top: 0.41666666666667em;
  margin-left: 7.0833333333333rem;
  line-height: 1.3333333333333em;
  font-weight: 900;
}
.box {
  padding-bottom: 0.41666666666667em;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
  position: relative;
  margin: 0.41666666666667em;
  margin-top: 0.83333333333333em;
  background: #b37366;
  background: -moz-linear-gradient(-45deg,#b37366 0%,#d3afa4 15%,#b37366 35%,#d3afa4 60%,#b37366 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#b37366),color-stop(15%,#d3afa4),color-stop(35%,#b37366),color-stop(60%,#d3afa4),color-stop(100%,#b37366));
  background: -webkit-linear-gradient(-45deg,#b37366 0%,#d3afa4 15%,#b37366 35%,#d3afa4 60%,#b37366 100%);
  background: -o-linear-gradient(-45deg,#b37366 0%,#d3afa4 15%,#b37366 35%,#d3afa4 60%,#b37366 100%);
  background: -ms-linear-gradient(-45deg,#b37366 0%,#d3afa4 15%,#b37366 35%,#d3afa4 60%,#b37366 100%);
  background: linear-gradient(135deg,#b37366 0%,#d3afa4 15%,#b37366 35%,#d3afa4 60%,#b37366 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b37366',endColorstr='#b37366',GradientType=1);
}
#bq {
  height: 2.5em;
  position: absolute;
  top: 0.625em;
  right: 0.20833333333333em;
  text-align: center;
  line-height: 2.0833333333333em;
  color: #e31835;
}
#bq li {
  float: left;
  margin: 0 0.20833333333333em;
}
#bq li a {
  display: block;
  background: #E31836;
  border-radius: 5px 5px 0 0;
  border: 1px solid #fff;
  color: #fff;
  height: 1.6666666666667em;
  border-bottom: none;
  padding: 0 0.41666666666667em;
}
#bq li a.active {
  background: #fff;
  color: #E31836;
  height: 2.5em;
}
.box_2 {
  background: #c99740;
  background: -moz-linear-gradient(-45deg,#c99740 0%,#e5cc9b 15%,#c99740 35%,#e5cc9b 60%,#c99740 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#c99740),color-stop(15%,#e5cc9b),color-stop(35%,#c99740),color-stop(60%,#e5cc9b),color-stop(100%,#c99740));
  background: -webkit-linear-gradient(-45deg,#c99740 0%,#e5cc9b 15%,#c99740 35%,#e5cc9b 60%,#c99740 100%);
  background: -o-linear-gradient(-45deg,#c99740 0%,#e5cc9b 15%,#c99740 35%,#e5cc9b 60%,#c99740 100%);
  background: -ms-linear-gradient(-45deg,#c99740 0%,#e5cc9b 15%,#c99740 35%,#e5cc9b 60%,#c99740 100%);
  background: linear-gradient(135deg,#c99740 0%,#e5cc9b 15%,#c99740 35%,#e5cc9b 60%,#c99740 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c99740',endColorstr='#c99740',GradientType=1);
}
.box_3 {
  background: #a0a1a4;
  background: -moz-linear-gradient(-45deg,#a0a1a4 0%,#e0e1e2 15%,#a0a1a4 35%,#e0e1e2 60%,#a0a1a4 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#a0a1a4),color-stop(15%,#e0e1e2),color-stop(35%,#a0a1a4),color-stop(60%,#e0e1e2),color-stop(100%,#a0a1a4));
  background: -webkit-linear-gradient(-45deg,#a0a1a4 0%,#e0e1e2 15%,#a0a1a4 35%,#e0e1e2 60%,#a0a1a4 100%);
  background: -o-linear-gradient(-45deg,#a0a1a4 0%,#e0e1e2 15%,#a0a1a4 35%,#e0e1e2 60%,#a0a1a4 100%);
  background: -ms-linear-gradient(-45deg,#a0a1a4 0%,#e0e1e2 15%,#a0a1a4 35%,#e0e1e2 60%,#a0a1a4 100%);
  background: linear-gradient(135deg,#a0a1a4 0%,#e0e1e2 15%,#a0a1a4 35%,#e0e1e2 60%,#a0a1a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0a1a4',endColorstr='#a0a1a4',GradientType=1);
}
.box #boxcon_2 {
  display: none;
}
.box h1 {
  text-align: center;
  padding-top: 0.41666666666667em;
}
.box h1 img {
  width: 8.3333333333333em;
  height: 1.5416666666667em;
}
.box .boxcon {
  width: 25.25em;
  height: 10.958333333333em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #ccc inset;
  margin: 0 auto;
  margin-top: 0.41666666666667em;
  padding-bottom: 4.1666666666667em;
}
.pstu {
  width: 5.6666666666667em;
  position: absolute;
  top: -0.25em;
  left: -0.20833333333333em;
}
.box .boxcon ul {
  padding-top: 1.25em;
  margin: 0 0.33333333333333em;
}
.box .boxcon ul li {
  float: left;
  text-align: center;
}
.box .boxcon ul li a {
  color: #000;
}
.box .boxcon ul li .tute {
  width: 5.5em;
  height: 4.7916666666667em;
}
.box .boxcon ul li .tute_2 {
  width: 5em;
  height: 5em;
  margin-top: -0.41666666666667em;
}
.box .boxcon ul li .jia {
  width: 1.25em;
  margin-top: 1.6666666666667em;
}
.box .boxcon ul li p {
  width: 6.6666666666667em;
  font-size: 12px;
  line-height: 1.25em;
  margin-top: 0.41666666666667em;
}
.box .boxcon ul li .pte {
  width: 8.3333333333333em;
  text-align: center;
  line-height: 1.25em;
}
.btnBox {
  margin-left: 7.0833333333333em;
  margin-top: 0.83333333333333em;
}
.btnBoxs {
  margin-left: 7.0833333333333em;
  margin-top: 0.83333333333333em;
  background-color: #7D7D7D;
  display: none;
}
.btnBoxs button {
  background-color: #7D7D7D;
}
.btnBox button,
.btnBoxs button {
  width: 9.5833333333333em;
  height: 2.3333333333333em;
  text-shadow: 0 0 10px #333;
}
.btnBox button img,
.btnBoxs button img {
  width: 2em;
  float: left;
  margin-left: 0.20833333333333em;
  margin-top: 0.125em;
}
.btnBoxs button i {
  display: block;
  width: 2em;
  height: 2em;
  background: url(../img/noyuan.png) no-repeat left;
  background-size: 100%;
  margin-left: 0.20833333333333em;
  margin-top: 0.125em;
  float: left;
}
.disabled button i {
  display: block;
  width: 2em;
  height: 2em;
  background: url(../img/yuan.png) no-repeat left;
  background-size: 100%;
  margin-left: 0.20833333333333em;
  margin-top: 0.125em;
  float: left;
}
.disabled button {
  background: #E31836;
}
.disabled {
  background: #E31836;
}
.details {
  width: 25.416666666667rem;
  height: 29.583333333333rem;
  margin: auto;
  position: fixed;
  top: 2rem;
  display: none;
  z-index: 10;
  border-radius: 0.625rem;
  background: #fff;
  margin-left: 0.625rem;
}
.details a {
  width: 2.125rem;
  height: 2.1666666666667rem;
  background: url("../img/no.png") 0 0 no-repeat;
  background-size: cover;
  position: fixed;
  right: 0.20833333333333rem;
  top: 1rem;
  z-index: 12;
}
.details #img-txt-container {
  width: 25.333333333333rem;
  margin-top: 0.5rem;
  height: 28.583333333333rem;
  overflow-y: scroll;
}
.details #img-txt-container img {
  width: 24.5rem;
  display: block;
  margin: 0 auto;
  margin-left: 0.45833333333333rem;
}
.details #img-txt-container img:first-child {
  border-radius: 0.625rem 0.625rem 0 0;
}
.details #img-txt-container img:last-child {
  border-radius: 0 0 0.625rem 0.625rem;
}
#bg {
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
